body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}

.container {
  background-color: white;
  width: 600px !important;
  margin: 3rem auto;
  padding: 0.3rem 0.4rem 1rem 0.4rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

#form-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#form-box > label {
  font-weight: 700;
  margin-bottom: 10px;
}

#form-box > input {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  outline: none;
}

#form-box > button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

#form-box > button:hover {
  background-color: #0062cc;
}

#form-box > p {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 700;
}
