body {
    text-align: center;
    padding-top: 2.5rem;
}

#toggle {
    width: 110px;
    height: 50px;
    background-color: rgb(42, 42, 42);
    border-radius: 50px;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto auto;
    cursor: pointer;
}

#toggleBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    transition: margin-left .7s;
}

#toggleBtn {
    /* margin-left: calc(50px + 10px); */
}

svg {
    width: 40px;
    height: 40px;
    margin: auto 2px;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    /* color: #222222; */
    font-family: "Montserrat", sans-serif;
}